<form #loginFormulaire="ngForm">
  <label for="email">
    Email
  </label>
  <input email required type="text" ngModel name="email" class="form-control" id="email" #InputMail="ngModel" >
  <div class="alert alert-danger" *ngIf="InputMail.invalid && InputMail.dirty" >your email is invalid</div>

  <label for="pwd">
    Password
  </label>
  <input  minlength="4" ngModel type="password" required  name="password"  class="form-control" id="pwd" #pwdInput="ngModel">
  <div class="alert alert-danger" *ngIf="pwdInput.invalid && pwdInput.touched" >the password must have 4 caracters at least</div>

  <button [disabled]="loginFormulaire.invalid" class="btn btn-primary"   (click)="login(loginFormulaire)" >Login</button>
</form>